h1{
    text-align: center;
    font-size: 50px;
    font-family: Impact;
}
h2 {
    text-align: center;
    width: 300px;
    font-size: 40px;
    font-style: italic;
    font-weight: normal;
    font-family: Trebuchet MS;
}
h3 {
    
}
h4 {
    text-decoration: overline;
    color: red;
}
h5 {
    text-decoration: line-through;
    color: green;
}
table{
    width: 500px;
    height: 300px;
}
th {
    text-align: center;
    font-weight: normal;
    font-family: Verdana;
}
td {
    text-align: center;
    font-weight: bold;
    font-family: Georgia;
}
p {
    width: 300px;
    font-size: 30px;
    text-align: justify;
    font-family: Comic Sans MS;
    line-height: 1.5;
    text-indent: 50px;
    
}
a {
    text-decoration: none;
    color: red;
}
<!-- Задание 1,2,3 блок41  -->
    <!-- font: 13px/20px, "Times New Roman;" -->
    <!-- font: bold, red, 40px/300px, Arial -->
    <!-- font: bold, italic, 40px/60px, Arial -->

  